# CureSync Backend Environment Variables

# Alibaba Cloud DashScope API Key (for Qwen models)
DASHSCOPE_API_KEY=your-api-key

# Server Configuration
BACKEND_HOST=0.0.0.0

# CORS Origins 
CORS_ORIGINS=vercel-app-url
API_URL=render-app-url

# Supabase Database(Custom database credentials are filled in following fields)
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
